* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(240, 245, 252);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 666px;
}

h1 {
  text-align: center;
  margin-bottom: 33px;
}

.unique {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 11px;
}

img {
  width: 66px;
  height: 66px;
}

.amountbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
  background-color: transparent;
  border: none;
}

.amountsec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.productsec {
  display: flex;
}

.remove {
  border: none;
  color: rgb(116, 151, 171);
  background-color: transparent;
  letter-spacing: 2px;
}

.price {
  color: rgb(116, 125, 135);
  margin-top: 4px;
}

.line {
  width: 100%;
  background-color: black;
  height: 1px;
  margin: 33px 0px 19px 0px;
}

.totalsec{
  display: flex;
  justify-content: space-around;
}

.clear{
  background-color: transparent;
  border: 1px solid rgb(143,91,106);
  color: rgb(143,91,106);
  padding: 11px;
  font-weight: 600;
  display: block;
  margin: 33px auto;
}

@media screen and (max-width: 730px) {
  body {
    overflow: hidden;
  }
  .unique{
    padding: 0px 100px;
    
  }
  
}
